<h1>Customers</h1>

<a class="btn" href="/customers/new">+ Add Customer</a>

<table>
    <thead>
        <tr>
            {{#each customers.[0]}}
            <th>{{@key}}</th>
            {{/each}}
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {{#each customers}}
        <tr>
            <td>{{this.[Customer ID]}}</td>
            <td>{{this.[First Name]}}</td>
            <td>{{this.[Last Name]}}</td>
            <td>{{this.[Email]}}</td>
            <td>{{this.[Phone Number]}}</td>
            <td>{{this.[Address Line 1]}}</td>
            <td>{{this.[Address Line 2]}}</td>
            <td>{{this.[City]}}</td>
            <td>{{this.[State]}}</td>
            <td>{{this.[Zip Code]}}</td>
            <td>
                <a href="/customers/{{this.[Customer ID]}}/edit">
                    <button type="button">Edit</button>
                </a>
            </td>
            <td>
                <form method="POST" action="/customers/{{this.[Customer ID]}}/delete"
                    onsubmit="return confirm('Are you sure you want to delete {{this.[First Name]}} {{this.[Last Name]}}?');">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>