<h1>Customers</h1>

{{! Add Customer button }}
<a class="btn"href="/customers/new">+ Add Customer</a>

{{! READ table }}
<table>
    <thead>
        <tr>
            {{#each customers.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each customers}}
        <tr>
            <td>{{this.[Customer ID]}}</td>
            <td>{{this.[First Name]}}</td>
            <td>{{this.[Last Name]}}</td>
            <td>{{this.[Email]}}</td>
            <td>{{this.[Phone Number]}}</td>
            <td>{{this.[Address Line 1]}}</td>
            <td>{{this.[Address Line 2]}}</td>
            <td>{{this.[City]}}</td>
            <td>{{this.[State]}}</td>
            <td>{{this.[Zip Code]}}</td>
            
            {{! UPDATE form }}
            <form id='update_customer_form'>
                <input type='hidden' name='update_customer_id' value='{{this.[Customer ID]}}' />
                <input type='hidden' name='update_customer_name' value='{{this.[First Name]}} {{this.[Last Name]}}' />
                <td>
                    <a href="/customers/{{this.[Customer ID]}}/edit">
                        <button type="button">Edit</button>
                    </a>
                </td>
            </form>


            {{! DELETE form }}
            <form id='delete_customer_form'>
                <input type='hidden' name='delete_customer_id' value='{{this.[Customer ID]}}' />
                <input type='hidden' name='delete_customer_name' value='{{this.[First Name]}} {{this.[Last Name]}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>

        </tr>
        {{/each}}
    </tbody>
</table>